@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


*{
    box-sizing: border-box;
}


body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16;
    background-color: #f7f8fc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 940px;
    
}

.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.card-header img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
}

.tag{
    background-color: gray;
    border-radius: 50px;
    font-size: 12px;
    margin: 0px;
    color: white;
    padding: 2px 10px;
}

.tag-teal{
    background-color: teal;
}

.tag-red{
    background-color: red;
}

.tag-pink{
    background-color: pink;
}


.card-body h4{
    margin: 10px 0;

}


.card-body p{
    font-size: 13px;
    margin-left: 0 0 40px;
    margin-bottom: 40px;
}


.user {
    margin-top: auto;
    width: 100%;
}

.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info{
    display: flex;
    justify-content: space-between;
}

.user-info h5{
    margin: 0px;
}

.user-info small{
    color: #888785;
}
